/* APPEARANCE STYLES*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

.box {
  font-size: 50px;
  color: white;
  padding: 10px;
  text-align:center;
  font-family: lato;
  font-weight: 300;
  box-sizing: border-box;
  width: 400px;
}

.box-1 {
  background: #e51400; 
}
.box-2 {
  background: #e3c800;
}
.box-3 {
  background: #60a917; 
}
.box-4 {
  background: #1ba1e2;
} 
.box-5 {
  background: #111111;
}


/*  LAYOUT STYLES */
.container, .container2, .container3, .container4  {
  display: flex; 
  /* Torna o elemento um flex container automaticamente 
  transformando todos os seus filhos diretos em flex itens. */
 
  border: 4px solid black;
  height: 45vh;
  /* vh é a altura da janela de visualização. o número que você anexa
  é uma porcentagem, então a altura: 100vh será a altura de 100%
  de qualquer que seja o dispositivo. */
}

.container1 {
  flex-direction: row;
  /* Default value. The flexible items are displayed horizontally, as a row */
}

.container2 {
  flex-direction: row-reverse;
  /* Same as row, but in reverse order*/
}

.container3 {
  flex-direction: column;
  /* The flexible items are displayed vertically, as a column	*/
}

.container4 {
  flex-direction: column-reverse;
  /* Same as column, but in reverse order	*/

}