/* ================================= 
  Flexbox
==================================== */

.container {
	/* This defines a flex container; inline or block depending on the given value. 
	It enables a flex context for all its direct children. */
	display: flex;
	flex-wrap: wrap;
}

.item {
	/*
	A flex-grow value of 1 expands flex items to take up the full space of a line.
	flex-grow: 1;

	Flex-basis: The flex items property will display at an equal size, when they're 200 pixels or wider.
    But if and when they're narrower than 200 pixels, the browser will redistribute the space.
	flex-basis: 200px;
	*/
	
	/* Flex shorthand */
	flex: 1 200px;
}

.item-2 {
	flex-grow: 2;
}