/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-header,
	.main-nav,
	.row, 
    .col {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}

	.col {
		flex: 1;
        /* Now the flex items are vertically stacked inside their columns. */
        flex-direction: column;
	}

    .button {
        /* When I set the value to auto.
        It pins the buttons to the bottom of the columns.
        The browser automatically inserts the extra space in a column.
        between the button and the flex item above it. */
        margin-top: auto;
        align-self: flex-start; /* flex-end*/
    }

}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

}