/* ================================= 
  Base Styles
==================================== */

body {
	/* 
	Setting the body's display to flex
    makes the child containers of the body flex items.
    So now, main header, banner, row, and main footer are all flex items.
    And setting flex direction to column stacks the elements vertically.
    Otherwise they're going to be laid out horizontally on a single line.
	 */
	display: flex;
	flex-direction: column;

	/* 
	One vh is equal to one one-hundredth, or 1%, of the height of the view port.
    So this means that the body's height will take up at least the entire
    height of the view port. */
	min-height: 100vh;
}


.row {
	/* 
    So now the row stretches to fill all the available space.
    So it pushes the footer down to the bottom of the view port. */
	flex: 1;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-header,
	.main-nav {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}

}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

}