/* ================================= 
  Flexbox
==================================== */

.container {
	display: flex;
	min-height: 50vh;
	justify-content: center;
	align-items: center;
	/* 
The flex container has a fluid min height of 50vh.
This means that the container's height will always take up
half the viewport height  
*/
}


/* ================================= 
  Option 2 
==================================== */
/* Set the flex container's justify-content value to center, 
while setting the flex item's align-self value to center: */

/*  
.container {
	justify-content: center;
}

.item {
	align-self: center;
}
*/

/* ================================= 
  Option 3
==================================== */

/* Set the flex item's margin value to auto: */

/* .item {
	margin: auto;
  } */