/* APPEARANCE STYLES*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

.box {
  font-size: 50px;
  color: white;
  padding: 10px;
  text-align:center;
  font-family: lato;
  font-weight: 300;
  box-sizing: border-box;
  flex-basis: 50%;
}


.box-1 {
  background: #e51400; 
}

.box-2 {
  background: #e3c800;
}

.box-3 {
  background: #60a917; 
}

.box-4 {
  background: #1ba1e2;
  flex-shrink: 3;
  /* Let the box-4 shrink three times more than the rest: */
} 


/*  LAYOUT STYLES */
.container1 {
  display: flex; 
  border: 2px solid black;
  height: 40vh;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;

}








