/* ================================= 
  Flexbox
==================================== */

.container {
	/* This defines a flex container; inline or block depending on the given value. 
	It enables a flex context for all its direct children. */
	display: flex;
	height: 300px;
	flex-wrap: nowrap;
	/* 
	nowrap (default): all flex items will be on one line
    wrap: flex items will wrap onto multiple lines, from top to bottom.
    wrap-reverse: flex items will wrap onto multiple lines from bottom to top. 
	*/
}

.container-wrap {
	flex-wrap: wrap;
}

.container-wrap-reverse {
	flex-wrap: wrap-reverse;
}
