/* ================================= 
  Flexbox
==================================== */

.container {
	/* This defines a flex container; inline or block depending on the given value. 
	It enables a flex context for all its direct children. */
	display: flex;
	height: 100px;
}

.item {
	flex-grow: 1;
	/*
    A flex-grow value of 1 expands flex items to take up the full space of a line.
	By default, flex items in a flex container do not take up the full space of a line.
	 */
}

/* 
Then I can expand the first, second,
or any flex item to take up more space in the container.
The flex-grow property determines how much of the available space
inside the flex-container an item should take up.
 */
.item-1 {
	flex-grow: 4;
}

.item-2 {
	flex-grow: 4;
}

.item-3 {
	flex-grow: 2;
}

.item-4 {
	flex-grow: 2;
}

.item-5 {
	flex-grow: 3;
}

.item-6 {
	flex-grow: 3;
}

.item-7 {
	flex-grow: 3;
}

.item-8 {
	flex-grow: 3;
}

.item-9 {
	flex-grow: 6;
}

.item-10 {
	flex-grow: 2;
}

.item-11 {
	flex-grow: 2;
}

.item-12 {
	flex-grow: 2;
}